#!/usr/bin/env python
PACKAGE = "albc_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# --- Top-level parameters ---
mode_enum = gen.enum([
    gen.const("TDC",    int_t, 1, "Time-Delay Control"),
    gen.const("PID",    int_t, 2, "PID Control"),
    gen.const("FIXED",  int_t, 3, "Fixed Position (test)"),
    gen.const("MANUAL", int_t, 4, "Manual Position")],
    "Control mode selection")

gen.add("control_mode",  int_t,    0, "Control mode",     1,   1,     4,
        edit_method=mode_enum)
gen.add("target_roll",   double_t, 0, "Target roll (deg)", 0.0, -45.0, 45.0)
gen.add("target_pitch",  double_t, 0, "Target pitch (deg)", 0.0, -45.0, 45.0)
gen.add("gain_mult",     double_t, 0, "Gain multiplier",  1.5,  0.01, 10.0)
gen.add("imu_yaw_offset", double_t, 0, "IMU yaw offset (deg)", 45.0, -180.0, 180.0)

# --- TDC Gains ---
tdc = gen.add_group("TDC_Gains")
tdc.add("M_td",   double_t, 0, "TDC mass parameter",      0.004, 0.0,  1.0)
tdc.add("Kp_td",  double_t, 0, "TDC proportional gain",   0.04,  0.0,  5.0)
tdc.add("Kd_td",  double_t, 0, "TDC derivative gain",     0.55,  0.0, 20.0)

# --- PID Roll ---
pid_roll = gen.add_group("PID_Roll")
pid_roll.add("kp_roll", double_t, 0, "Roll P gain", 0.05,   0.0, 5.0)
pid_roll.add("ki_roll", double_t, 0, "Roll I gain", 0.001,  0.0, 5.0)
pid_roll.add("kd_roll", double_t, 0, "Roll D gain", 0.0005, 0.0, 1.0)

# --- PID Pitch ---
pid_pitch = gen.add_group("PID_Pitch")
pid_pitch.add("kp_pitch", double_t, 0, "Pitch P gain", 0.05,   0.0, 5.0)
pid_pitch.add("ki_pitch", double_t, 0, "Pitch I gain", 0.001,  0.0, 5.0)
pid_pitch.add("kd_pitch", double_t, 0, "Pitch D gain", 0.0005, 0.0, 1.0)

# --- IK Config ---
ik = gen.add_group("IK_Config")
ik.add("ik_learning_rate",  double_t, 0, "IK learning rate",    0.02,  0.001,  1.0)
ik.add("ik_lambda_base",    double_t, 0, "IK damping lambda",   0.15,  0.001,  2.0)
ik.add("ik_num_iterations", int_t,    0, "IK max iterations",   3000,  100,    10000)

# --- Manual Mode ---
manual = gen.add_group("Manual")
manual.add("manual_theta1", double_t, 0, "Manual joint 1 (deg)", 90.0, -180.0, 180.0)
manual.add("manual_theta2", double_t, 0, "Manual joint 2 (deg)", 90.0, -180.0, 180.0)
manual.add("manual_x",      double_t, 0, "Manual EE x (m)",      0.0,   -0.5,   0.5)
manual.add("manual_y",      double_t, 0, "Manual EE y (m)",      0.0,   -0.5,   0.5)

exit(gen.generate(PACKAGE, "albc_controller", "ALBCController"))
