<launch>

  <!-- Launch options -->
  <arg name="dvl"     default="false" />
  <arg name="rtsp"    default="false" />

  <!-- UVC camera (USB) -->
  <node pkg="uvc_camera" name="uvc_camera" type="uvc_camera_node" />

  <!-- RTSP camera (network, disabled by default) -->
  <arg name="video_stream_url" default="$(env ROCON_RTSP_CAMERA_RELAY_URL)"/>
  <group if="$(arg rtsp)">
    <node pkg="rocon_rtsp_camera_relay" name="rtsp_camera_relay" type="rocon_rtsp_camera_relay_node">
      <param name="video_stream_url"    value="$(arg video_stream_url)"/>
    </node>
  </group>

  <!-- Arduino serial bridge -->
  <node pkg="rosserial_python" name="rosserial_agent" type="serial_node.py">
    <param name="port"    value="/dev/ttyUSB1"/>
    <param name="baud"    value="76800"/>
  </node>

  <!-- Agent command (QR recovery, DARKNET, mosaic, keyboard) -->
  <node pkg="hero_agent" name="agent_command" type="agent_command" output="screen">
    <rosparam file="$(find hero_agent)/config/agent_command.yaml" command="load" />
  </node>

  <!-- DVL sensor -->
  <group if="$(arg dvl)">
    <node pkg="hero_agent" name="agent_dvl" type="agent_dvl" output="screen">
      <rosparam file="$(find hero_agent)/config/agent_dvl.yaml" command="load" />
    </node>
  </group>

  <!-- Agent main (FSM, monitoring, rosbag) -->
  <node pkg="hero_agent" name="agent_main" type="agent_main" output="screen" />

</launch>
